.header-background { 
    background-image: url(../img/cover/unsplash.jpg);
    max-width: 1800px;
    width: 100%;
    height: 780px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
 }
    
    
 .header-flex {
     max-width: 1800px;
     width: 100%;
     height: 80px;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     position: fixed;
     justify-content: space-between;
     align-items: center;
    background-color: rgb(187, 185, 185);
    position: relative;
 }
 .logo {
     max-width: 100%;
     width: 110px;
     height: 110px;
    /* margin-bottom: 180px;*/
     margin-left: 20px;
     /*background-color: #3d37f1;*/
 }
 .cart-user{
   width: 20px;
   height: 20px;
   margin-right: 20px;
 }
 .nav-ul {
     display: flex;
     margin: 25px;
     margin-top: 20px;
     margin-bottom: 20px;
     font-size: 18px;
   }
   .nav-li {
     margin-right: 20px;
     color: #04011b;
     font-family: "BPG Boxo-Boxo", sans-serif;
   }
   .nav-a {
     color: rgb(37, 3, 3);
     font-size: 16px;
    }
    .nav-a:hover {
     color: blue;
     font-size: 18px;
   }
   .toggle-button {
     position: absolute;
     top: 25px;
     right: 25px;
     font-size: 30px;
     color:brown;
     display: none;
   }
   
 /* section2 */
 .section-1 {
   max-width: 1800px;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   margin-top: 20px;
   /*background-color: #41eae3;*/
   }
 .section-2 {
     max-width: 1800px;
     width: 100%;
    /* background-color: #ff8088;*/
     margin-top: 10px;
   }
   .text-block {
     align-items: center;
     max-width: 1800px;
     width: 100%;
     height: 50px;
     /*background-color: #5a5454;*/
     text-align: center;
     
   }
   .text-block-h2 {
     font-size: 40px;
     font-family: "BPG Boxo-Boxo", sans-serif;
     margin-top: 35px;
     color: rgb(33, 18, 34);
     
   }
   
   
   
   /* boxes */
   .boxes {
     max-width: 1800px;
     width: 80%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     margin: 0 auto;
   }
   .box {
     width: 250px;
     height: 350px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin: 20px;
     border: 2px solid grey;
     border-radius: 25px;
   }
   .box-image {
     width: 220px;
     height: 220px;
   }
   .box-h3 {
     font-size: 16px;
     margin-top: 10px;
     color: #121111;
     font-family: "BPG Boxo-Boxo", sans-serif;
   }
   .box-p {
     width: 150px;
     font-size: 14px;
     margin-top: 10px;
     margin-bottom: 5px;
     color: rgb(33, 18, 34);
     text-align: center;
     font-family: "BPG Boxo-Boxo", sans-serif;
   }
   .color-box {
     width: 100px;
     height: 30px;
     border-radius: 30px;
     border-style: solid;
     border-width: 2px;
     border-color: #ffffff;
     display: flex;
     justify-content: center;
     align-items: center;
     
   }
   .color-box-p {
     color: #ffffff;
     font-family: "BPG Boxo-Boxo", sans-serif;
   }
   .color-box-1 {
     background-color: #252323;
     margin-top: 30px;
     width: 170px;
     height: 35px;
     border-radius: 30px;
     border-style: solid;
     border-width: medium;
     border-color: #ffffff;
     justify-content: center;
     align-items: center;
     display: flex;
     margin-left: 1315px;
   }
   .color-box-1:hover {
     background-color: #27065b;
   }
   .gift {
     font-family: 'Ubuntu', sans-serif;
   }
   
  /* .box:nth-child(1) {
     background-color: #fbba77;
   }
   .box:nth-child(2) {
     background-color: #41eae3;
   }
   .box:nth-child(3) {
     background-color: #69529f;
   }
   .box:nth-child(4) {
     background-color: #4386d2;
   }
   .box:nth-child(5) {
     background-color: #a5a2f6;
   }
   .box:nth-child(6) {
     background-color: #e30f1d;
   }
   .box:nth-child(7) {
     background-color: #e30f1d;
   }
   .box:nth-child(8) {
     background-color: #e30f1d;
   }*/
 
   
   .color-box:hover {
     background-color: #252323;
   }
 
 /*მარკეტი*/
 .left-block {
   max-width: 650px;
   width: 100%;
   height: 400px;
   margin-top: 38px;
   /*background-color: #5a5454;*/
   border-style: solid;
   border-color: red;
 }
 
 .text-1 {
   margin-top: 25px;
   font-size: 18px;
   text-align: center;
   font-family: "BPG Boxo-Boxo", sans-serif;
   
 }
 .ab-us{
   text-align: center;
   margin-top: 10px;
   font-size: 20px;
   color: rgb(33, 18, 34);
 }
 .text-2-1 {
   font-size: 14px;
   margin-top: 15px;
   margin-bottom: 10px;
   font-family: "BPG Boxo-Boxo", sans-serif;
   text-indent: 35px;
 }
 
 .right-block {
   max-width: 536px;
   height: 400px;
   width: 100%;
   margin-top: 38px;
   align-items: center;
  /* background-color: #3d37f1;*/
  border: 3px solid grey;
  background-color: #eee;
  box-shadow: 10px 4px 10px 3px #888;
 }
 .img1 {
 margin-left: auto;
 max-width: 536px;
 width: 100%;
 height: 400px;
 /*transition: width 2s, height 4s;*/
 }
 /*.img1 :hover {
   width: 600px;
   height: 500px
 }*/
 
 
 
 /* contact section */
 
 .contactB {
   background-color: #b6b4b4;
   max-width: 1800px;
   width: 100%;
  
 }
 
 .map {
   display: flex;
  /* justify-content: center;*/
   
 }
 
 .contact-box-text {
   width: 500px;
   margin-left: 50px;
   margin-top: 56px;
   margin-bottom: 20px;
   font-family: "BPG Boxo-Boxo", sans-serif;
 }
 
 .contact-h3 {
   font-size: 24px;
   color: rgb(33, 18, 34);
 }
 
 
 .contact-block {
   display: flex;
   justify-content: space-around;
   max-width: 1600px;
   width: 100%;
   margin-top: 70px;
 
 }
 
 .text-area-form {
   width: 480px;
   height: 250px;
   resize: none;
   border-width: 2px;
   border-color: #e8e8e8;
   background-color: #f8f8f8;
   font-family: "BPG Boxo-Boxo", sans-serif;
 }
 
 .text-area-form:focus,
 .input-form:focus,
 .bt-submit:focus {
   outline: none;
 }
 
 .text-area-form::placeholder,
 .input-form::placeholder {
   padding: 20px;
   size: 13px;
   color: #262525;
 }
 
 .raight-block-form {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   max-width: 400px;
 }
 .left-block-form {
   max-width: 380px;
 }
 
 .input-form {
   height: 60px;
   width: 352px;
   border-width: 2px;
   border-color: #e8e8e8;
   background-color: #f8f8f8;
   font-family: "BPG Boxo-Boxo", sans-serif;
 }
 
 .bt-submit {
   height: 60px;
   width: 352px;
   cursor: pointer;
   border: none;
   background-color: #3a085c;
   color: #ffffff;
   text-align: center;
   font-size: 14px;
 }
 
 
 
 /*footer*/
      .footer-block {
       max-width: 1800px;
       width: 100%;
       
       color: rgb(15, 15, 15);
       background-color: rgb(187, 185, 185);
       display: flex;
   }
   
   .footertext { 
       font-size: 21px;
       margin-bottom: 15px;
       margin-top: 15px;
       text-align: center;
       font-family: "BPG Boxo-Boxo", sans-serif;
   }
   
   .footerlogo {
       width: 120px;
       height: 120px;
       margin-bottom: 26px;
       margin-left: 10px;
      margin-top: 25px;
   }
     
   .footer-block1 { 
     width: 100px;
    
     margin-left: 20px;
     /*background-color: #72e30f;*/
      margin-right: 400px;
     justify-content: space-around;
       
   }
   .footer-block2 {
     display: flex;
     text-align: center;
     /*background-color: #e30f1d;*/
     max-width: 700px;
     width: 100%;
 
   }
   .companytext{
     font-size: 16px;
     margin-top: 10px;
     margin-bottom: 8px;
     margin-left: 30px;
     margin-right: 30px;
     color: rgb(33, 18, 34);
     font-family: "BPG Boxo-Boxo", sans-serif;
   }
   .companytext:hover{
     font-size: 17px;
     color:blue;
   }
   .Career {
       margin-top: 112px;
       margin-bottom: 112px;
   }
 
   .social {
     display: flex;
     margin-left: 60px;
     align-content: center;
     align-items: center;
    /* background-color: chartreuse;*/
   }
   
   .socialicons {
     max-width: 50px;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     font-size: 35px;
     margin: 8px;
 }
 
   .fb:hover {
     font-size: 40px;
   }
   
   .insta:hover { 
     font-size: 40px;
   }
   
   .twit:hover { 
     font-size: 40px;
   }
   
 
   .end {
     background-color: #5a5454;
     color: #eeeef3;
     text-align: center;
   }
  