.header-background { 
   background-image: url(../img/cover/unsplash.jpg);
   max-width: 1600px;
   width: 100%;
   height: 450px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   position: relative;
}
   
   
.header-flex {
    max-width: 1600px;
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #e30f1d;
}
.logo {
    max-width: 100%;
    width: 80px;
    height: 80px;
   /* margin-bottom: 180px;*/
    margin-left: 20px;
    background-color: #3d37f1;
}
.nav-ul {
    display: flex;
    margin: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .nav-li {
    margin-right: 20px;
    color: #04011b;
  }
  .nav-a {
    color: rgb(37, 3, 3);
    font-size: 16px;
   }
   .nav-a:hover {
    color: blue;
    font-size: 18px;
  }
  .bar-icon {
    color: white;
    font-size: 32px;
    display: none;
    background-color: blue;
  }
  
/* section2 */
.section-2 {
    max-width: 1600px;
    width: 100%;
    background-color: #ff8088;
  }
  .text-block {
    margin-top: 10px;
    max-width: 700px;
    width: 80%;
    margin-left: 12px;
    background-color: #5a5454;
  }
  .text-block-h2 {
    font-size: 20px;
   
    margin-top: 20px;
    margin-bottom: 17px;
    color: #3d37f1;
    
  }
  
  
  
  /* boxes */
  .boxes {
    max-width: 1800px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .box {
    width: 250px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }
  .box-image {
    width: 220px;
    height: 220px;
  }
  .box-h3 {
    font-size: 16px;
    margin-top: 10px;
    color: #ffffff;
  }
  .box-p {
    width: 150px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #ffffff;
    text-align: center;
  }
  .color-box {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .color-box-p {
    color: #ffffff;
  }
  .color-box-1 {
    background-color: #3d37f1;
    margin-top: 30px;
    width: 170px;
    height: 35px;
    border-radius: 30px;
    border-style: solid;
    border-width: medium;
    border-color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 1315px;
  }
  
  .box:nth-child(1) {
    background-color: #fbba77;
  }
  .box:nth-child(2) {
    background-color: #41eae3;
  }
  .box:nth-child(3) {
    background-color: #69529f;
  }
  .box:nth-child(4) {
    background-color: #4386d2;
  }
  .box:nth-child(5) {
    background-color: #a5a2f6;
  }
  .box:nth-child(6) {
    background-color: #e30f1d;
  }
  .box:nth-child(7) {
    background-color: #e30f1d;
  }
  .box:nth-child(8) {
    background-color: #e30f1d;
  }

  
  .color-box:hover {
    background-color: #e6e6e6;
  }

/*მარკეტი*/
.left-block {
  max-width: 650px;
  width: 100%;
  height: 400px;
  margin-top: 38px;
  background-color: #5a5454;
}

.text-1 {
  margin-top: 25px;
  font-size: 18px;
  text-align: center;
}
.ab-us{
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  color: blue;
}
.text-2-1 {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 10px;

}

.right-block {
  max-width: 536px;
  height: 400px;
  width: 100%;
  margin-top: 38px;
  align-items: center;
  background-color: #3d37f1;
}
.img1 {
margin-left: auto;
max-width: 536px;
width: 100%;
height: 400px;

}
.section-1 {
max-width: 1550px;
width: 100%;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
margin-top: 90px;
background-color: #41eae3;
}

/* contact section */

.map {
  display: flex;
  justify-content: center;
  
  
}

.contact-box-text {
  width: 500px;
  margin-left: 50px;
  margin-top: 56px;
  margin-bottom: 20px;
}

.contact-h3 {
  font-size: 24px;
  color: #5863f8;
}


.contact-block {
  display: flex;
  justify-content: space-around;
  max-width: 1600px;
  width: 100%;
  margin-left: 130px;
  margin-top: 70px;
  margin: 10px;
}

.text-area-form {
  width: 480px;
  height: 250px;
  resize: none;
  border-width: 2px;
  border-color: #e8e8e8;
  background-color: #f8f8f8;
}

.text-area-form:focus,
.input-form:focus,
.bt-submit:focus {
  outline: none;
}

.text-area-form::placeholder,
.input-form::placeholder {
  padding: 20px;
  size: 13px;
  color: #676464;
}

.raight-block-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}
.left-block-form {
  max-width: 380px;
}

.input-form {
  height: 60px;
  width: 352px;
  border-width: 2px;
  border-color: #e8e8e8;
  background-color: #f8f8f8;
}

.bt-submit {
  height: 60px;
  width: 352px;
  cursor: pointer;
  border: none;
  background-color: #5863f8;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}



